.menu-button-active {
  color: rgb(240, 74, 65);
  background-color: rgb(255 230 230);
  font-weight: 700;
  transition: all 0.18s ease-in-out;
}

.menu-button-active:hover {
  color: rgb(212, 66, 59);
  background-color: rgb(235, 201, 201);
}

.menu-button {
  background-color: rgb(243, 243, 242);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.menu-button:hover {
  background-color: rgb(214, 214, 214);
}

.menu-button,
.menu-button-active {
  cursor: pointer;
  border: 0px;
  padding: 17px 20px;
  margin: 17px 20px 30px 20px;
  border-radius: 6px;
}

.menu {
  margin-bottom: 5px;
}
